.fadeIn {
  animation: fadeIn 0.65s;
}

.fadeInDown {
  animation: fadeInDown 2s;
}

@keyframes fadeInDown{
    0% {
        opacity:0;
        transform: translateY(-3rem);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}

@keyframes fadeIn{
    0% {
        opacity:0;
        ;
    }
    100% {
        opacity:1;
      ;
    }
}


    // -webkit-transform: translateY(-100%);
    // -ms-transform: translateY(-100%);
    // transform: translateY(-100%);
    // -webkit-animation: slidedown 0.5s forwards;
    // animation: slidedown 0.5s forwards;
