nav {
  width: 100%;
  z-index: 10000;
  ul{
    display: flex;
    flex-direction: row;
  }
  li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    letter-spacing: 0.0625rem;
    // text-transform: uppercase;
    // font-weight: bold;
  }
  li a {
    padding: 10px 40px;
    display: block;
    color: $grey;
    background: $white;
    text-decoration: none;
    border: 1px solid $white;
    @include transition(background .6s ease);
      &:hover {
        color: $white;
        background: $black;
      }
  }
  .active {
    color: $white;
    background: $grey;
  }
}

.nav-stick {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  float: right;
  background:$white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  @include box-shadow(
    $horizontal: 0px,
    $vertical: 10px,
    $blur: 10px,
    $spread: -10px,
    $color: $black
  );
  animation: fadeInDown 0.10s;
  ul {
    margin: 1rem;
  }
  .sticky-title{
    // text-shadow: 2px 1px 2px $light-grey;
    visibility: visible;
    color: $grey;
    margin-top: 0;
    padding: 10px 34px;
    letter-spacing: 0.0625rem;
  }
}
