nav {
  width: 100%;
  z-index: 10000;
  ul{
    display: flex;
    flex-direction: row;
    @include box-shadow(1);
  }
  li {
    list-style: none;
    flex-grow: 1;
    text-align: center;
    letter-spacing: 0.0625rem;
  }
  li a {
    padding: 10px 40px;
    display: block;
    color: $color-text-base;
    background: $white;
    text-decoration: none;
    @include transition(background .6s ease);
      &:hover {
        color: $color-text-base;
        background: $color-bg-highlight;
      }
  }
  .active {
    color: $color-text-base;
    background: $color-bg-highlight;
  }
}

.sticky-title{
  display: none;
  font-weight: 500;
  color: $color-text-base;
  margin-top: 0;
  padding: 10px 34px;
  letter-spacing: 0.0625rem;
  @include unstyled-link;
}

.nav-stick {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  float: right;
  background:$color-bg-base;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  @include box-shadow(2);
  animation: fadeInDown 0.10s;
  ul {
    margin: 1rem;
  }
  .sticky-title{
    display: inline-block;
  }
}
