nav {
  width: 100%;
  z-index: 10000;
  li {
    display:inline-block;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  li a {
    padding: 10px 40px;
    color: $black;
    background: $white;
    text-decoration: none;
    @include transition(background .6s ease);
      &:hover {
        color: $white;
        background: $black;
      }
  }
  .active {
    color: $white;
    background: $black;
  }
}

.nav-stick {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  float: right;
  background:$white;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  @include box-shadow(
    $horizontal: 0px,
    $vertical: 1px,
    $blur: 5px,
    $color: $grey
  );
  animation: fadeInDown 0.10s;
  ul {
    margin: 1rem;
  }
}

.nav-project{
  position: fixed;
  width: 100%;
  top: 0;
  background:$white;
  @include box-shadow(
    $horizontal: 0px,
    $vertical: 4px,
    $blur: 10px,
    $color: $grey
  );
  ul{
    margin:0 1rem;
  }
  li {
    margin: 1rem 0;
  }
}
