
/* Site
-------------------------------------------------- */
body {
  color: $white;
  }

.logo {
  height: 20vh;
}

header {
  text-align: center;
  height:100vh;
  background: url("../images/hero1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

.sub-heading{
  padding-bottom: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
}

.sticky-title{
  visibility: hidden;
}

/* -- Projects --------------------------------------------------------------------------------------------------------------- */

.projects {
  padding-top: 6.8rem;
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: auto;
  height: auto;
  margin-bottom: 55px;
  @include animation(fadeIn 0.65s);
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* -- Individual Project --------------------------------------------------------------------------------------------------------------- */

.project {
  background: $white;
  color: $grey;
  margin-top: 6rem;
  padding: 1rem;
  }

.project-header{
  background: $white;
}

.img-adjust {
    height: 50vh;
    width: auto;
}

.project-content {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 0 2rem;
}

.project-content h1{
  font-size: 2.4rem;
}

.project-content p{
  line-height: 1.6rem;
}

.project-return {
  line-height: 5rem;
  font-size: $baseFontSize / 22 * 100%;
}

.project a, .project a:focus.project a:hover {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2px 2px;
}

.project a {
    background-image: linear-gradient(transparent 0%,  transparent 50%,  $purple 50%,  $purple 100%);
    color: $purple;
    text-decoration: none;
    transition: color .3s;
}

.project a:focus, .project a:hover {
    background-image: linear-gradient(transparent 0%,  transparent 50%,  $blue 50%,  $blue 100%);
    color: $blue;
}

/* -- About --------------------------------------------------------------------------------------------------------------- */

.about{
padding: 6.8rem 0;
background: $light-grey;
  @include box-shadow(
    $horizontal: 0px,
    $vertical: 10px,
    $blur: 10px,
    $spread: -10px,
    $color: $black
  );
}

.floatright {
  float: right;
  img{
  @include box-emboss(0.8, 0.05);
}
}

.about-content {
  color: $black;
  padding: 20px;
}

.about-content a, .about-content a:focus.about-content a:hover {
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2px 2px;

}

.about-content a {
    background-image: linear-gradient(transparent 0%,  transparent 50%,  $purple 50%,  $purple 100%);
    color: $purple;
    text-decoration: none;
    transition: color .3s;
}

.about-content a:focus, .about-content a:hover {
    background-image: linear-gradient(transparent 0%,  transparent 50%,  $blue 50%,  $blue 100%);
    color: $blue;
}

/* -- Contact --------------------------------------------------------------------------------------------------------------- */

.contact{
  height: 100vh;
  background: url(../images/office.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:-1;
  position: relative;
}

.address{
  text-align: center;
  color: $white;
}

.address-text{
 padding: 20px;
 font-weight: 300;
}

.address h3{
  margin-bottom: 0.6em;
}

.address a {
  color: $white;
  text-decoration: none;
}

hr {
     margin-top: 20px;
    margin-bottom: 40px;
    border: 0;
    border-top: 1px solid $white;
}

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}

/* -- Gallery --------------------------------------------------------------------------------------------------------------- */

.gallery-cell{
  margin-right: 10px;
}

.imgcontent {
    margin: 0 auto;
    padding: 0 2em;
    margin-bottom: 50px;
    line-height: 1.6em;
}
