*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

// Modules and Variables
@import "partials/base"; // imports for all mixins + global project variables

// Partials
@import "partials/nav";
@import "partials/rest";

// Third-party -- CSS or Sass from other projects
@import "vendor/typebase";

