*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.fadeIn {
  animation: fadeIn 0.65s;
}

.fadeInDown {
  animation: fadeInDown 2s;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*! Typebase.scss v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  font-kerning: normal;
}

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
ul li,
ol li {
  line-height: 1.5rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem;
}

h1 {
  font-size: 3.375rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-top: 3rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 0.5625rem;
}

h5 {
  font-size: 0.375rem;
}

h6 {
  font-size: 0.28125rem;
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
  line-height: 24px;
}

/* Code blocks */
code {
  vertical-align: bottom;
}

/* Leading paragraph text */
.lead {
  font-size: 1.125rem;
}

/* Hug a the block above you */
.hug {
  margin-top: 0;
}

nav {
  width: 100%;
  z-index: 10000;
  width: 600px;
}
nav ul {
  display: flex;
  flex-direction: row;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
nav li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 0.0625rem;
}
nav li a {
  padding: 10px 40px;
  display: block;
  color: #5c6c7c;
  background: #FCFDFF;
  text-decoration: none;
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  transition: background 0.6s ease;
}
nav li a:hover {
  color: #001f3f;
  background: #dedede;
}
nav .active {
  color: #001f3f;
  background: #dedede;
}

.sticky-title {
  display: none;
}

.nav-stick {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  float: right;
  background: #f4f4f4;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  animation: fadeInDown 0.10s;
}
.nav-stick ul {
  margin: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.nav-stick .sticky-title {
  display: inline-block;
  font-weight: 500;
  color: #5c6c7c;
  margin-top: 0;
  margin-left: 2rem;
  letter-spacing: 0.0625rem;
}
.nav-stick .sticky-title a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
.nav-stick .sticky-title a:active, .nav-stick .sticky-title a:focus {
  outline: none;
  background: none;
}

/* Site
-------------------------------------------------- */
html {
  background-color: #f4f4f4;
  color: #001f3f;
}

.logo {
  height: 10em;
}

header {
  text-align: center;
  background: rgba(0, 31, 63, 0.7);
  background: url("../images/hero1.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.heading, .sub-heading {
  color: #f4f4f4;
}

.sub-heading {
  padding-bottom: 0.8rem;
  font-weight: 300;
}

/* -- Projects --------------------------------------------------------------------------------------------------------------- */
.projects {
  padding-top: 6.8rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.grid {
  margin: 0 auto;
}

.grid-item {
  width: auto;
  height: auto;
  margin-bottom: 45px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-animation: fadeIn 0.65s;
  -moz-animation: fadeIn 0.65s;
  -ms-animation: fadeIn 0.65s;
  -o-animation: fadeIn 0.65s;
  animation: fadeIn 0.65s;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
}
.grid-item img {
  display: block;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* -- Individual Project --------------------------------------------------------------------------------------------------------------- */
.project {
  padding: 6rem 1rem 1rem 1rem;
}
.project a {
  text-shadow: 0.03em 0 #f4f4f4, -0.03em 0 #f4f4f4, 0 0.03em #f4f4f4, 0 -0.03em #f4f4f4, 0.06em 0 #f4f4f4, -0.06em 0 #f4f4f4, 0.09em 0 #f4f4f4, -0.09em 0 #f4f4f4, 0.12em 0 #f4f4f4, -0.12em 0 #f4f4f4, 0.15em 0 #f4f4f4, -0.15em 0 #f4f4f4;
  background-image: linear-gradient(#001f3f, #001f3f);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 98%;
  color: #001f3f;
  text-decoration: none;
}
.project a *,
.project a *:after, .project a:after,
.project a *:before, .project a:before {
  text-shadow: none;
}
.project a:visited {
  color: #001f3f;
}

.img-adjust {
  height: 50vh;
  width: auto;
}

.project-content {
  margin: 0 auto;
  max-width: 48rem;
  padding: 0 0 2rem;
}

.project-content h1 {
  font-size: 2.4rem;
  color: #5c6c7c;
}

.project-content p {
  line-height: 1.6rem;
}

.project-return {
  line-height: 5rem;
}

/* -- About --------------------------------------------------------------------------------------------------------------- */
.about {
  padding: 6.8rem 0;
  background: #dedede;
}

@media (min-width: 60em) {
  .about-content {
    display: flex;
  }
}

@media (min-width: 60em) {
  .aboutLeft {
    padding: 0 1rem;
    border-right: 1px dotted #5c6c7c;
  }
}

@media (min-width: 60em) {
  .aboutRight {
    padding: 0 2rem;
  }
}

.floatright {
  float: right;
}

.about-content {
  padding: 20px;
}
.about-content a {
  text-shadow: 0.03em 0 #dedede, -0.03em 0 #dedede, 0 0.03em #dedede, 0 -0.03em #dedede, 0.06em 0 #dedede, -0.06em 0 #dedede, 0.09em 0 #dedede, -0.09em 0 #dedede, 0.12em 0 #dedede, -0.12em 0 #dedede, 0.15em 0 #dedede, -0.15em 0 #dedede;
  background-image: linear-gradient(#001f3f, #001f3f);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-position: 0% 98%;
  color: #001f3f;
  text-decoration: none;
}
.about-content a *,
.about-content a *:after, .about-content a:after,
.about-content a *:before, .about-content a:before {
  text-shadow: none;
}
.about-content a:visited {
  color: #001f3f;
}

/* -- Contact --------------------------------------------------------------------------------------------------------------- */
.contact {
  height: 100vh;
  background: url(../images/office.jpg) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #f4f4f4;
}

.address {
  text-align: center;
}

.address-text {
  padding: 20px;
  font-weight: 300;
}

.address h3 {
  margin-bottom: 0.6em;
}

.address a {
  color: #f4f4f4;
  text-decoration: none;
}

hr {
  margin-top: 20px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #f4f4f4;
}

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 0.5em;
}

/* -- Gallery --------------------------------------------------------------------------------------------------------------- */
.gallery-cell {
  margin-right: 10px;
}

.imgcontent {
  margin: 0 auto;
  padding: 0 2em;
  margin-bottom: 50px;
  line-height: 1.6em;
}
