.slider-container {
  @include outer-container;
  padding-bottom: 6rem;
}

.slider {
  @include box-shadow(2);
}

.about {
  @include outer-container;
  padding-bottom: 4em;
  .practice {  @include span-columns(7);margin-bottom: 2em; }
  .practice-sketch {  @include span-columns(5); @include omega();margin-bottom: 2em; }
  .charles {  @include span-columns(9); }
  .charles-img {  @include span-columns(3); @include omega(); }
  img {
    @include box-shadow(2);
    margin-top: 4em;
    display: block;
    width: 100%;
  }
  a {
    color: $color-text-base;
    @include transition(color 0.3s ease-in-out);
    border-bottom: .1em solid $color-text-alt;
    padding-bottom: .1em;
  &:hover {
    color: $color-text-alt;
    text-decoration: none;
    }
  }
}

.projects {
  @include outer-container;
  padding-bottom: 4em;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}
    li {
      margin-bottom: 1.4em;
      list-style-type: none;
    }
  img {
    flex: 1 1 0;
    display: block;
    @include box-shadow(1);
  }
}

// .grid {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }

// .grid-item {
//    margin: 1em;
//    flex: 1 1 0;
// }

.project {
  padding-bottom: 4em;
  @include outer-container;
  .project-content {
    @include span-columns(9);
      @include media($tablet) {
        @include span-columns(4);
      }
    margin-top: 2em;
    a {
      @include transition(color 0.3s ease-in-out);
      color: $color-text-base;
      border-bottom: .1em solid $color-text-alt;
      padding-bottom: .1em;
      text-decoration: none;
    &:hover {
      color: $color-text-alt;
      text-decoration: none;
      }
    }
  }
  .project-return{
    font-size: 0.889em;
  }
  .project-info {
    @include span-columns(3);
    @include omega();
    font-size: 0.889em;
    color: $color-text-meta;
    margin-top: 4.4rem;
    // text-align: right;
    // img{float: right;}
  }
}

.img-cell{
  height: 50vh;
  max-height: 600px;
  width: auto;
  margin-right: 10px;
}
