footer {
  // @include display(flex);
  // @include align-items(flex-end);
  // @include flex-direction(row);
  // @include justify-content(space-between);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 240px;
  width: 100%;
  padding: 4rem 0;
  background-color: $color-bg-base;
  border-top: 1px solid $color-text-meta;
  a {
      color: $color-text-base;
      // border-bottom: .1em solid $color-text-alt;
      // padding-bottom: .1em;
      &:hover {
        text-decoration: none;
        }
    }
}

.footer-content {
  @include outer-container;
}

.vcard {
  @include span-columns(10);
}

.adr {
  margin-bottom: 0.5rem;
}

a[href^="tel:"]:before {
  content: "tel:";
  margin-right: 0.5em;
}

a[href^="mailto:"]:before {
  content: "email:";
  margin-right: 0.5em;
}

.logo{
  @include span-columns(2);
  float: right;
}
